node_modules/
.DS_Store
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.xcworkspace/xcuserdata/
ios/Pods/
android/build/
android/.gradle/
.env
.env.local
dist/
build/
.expo/
*.haste-cache
*.ipa
*.apk
coverage/
